[submodule "pinkie/3rd-party/glog"]
	path = pinkie/3rd-party/glog
	url = https://github.com/google/glog.git
[submodule "pinkie/3rd-party/gflags"]
	path = pinkie/3rd-party/gflags
	url = https://github.com/gflags/gflags.git
	